<html>
<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='mycss.css') }}">
</head>
<body>
<iframe src="https://embed.spotify.com/?uri=spotify:trackset:PREFEREDTITLE:5Z7ygHQo02SUrFmcgpwsKW,1x6ACsKV4UdWS2FMuPFUiT,4bi73jCM02fMpkI11Lqmfe" frameborder="0" allowtransparency="true" width = "300" height = "380"></iframe>
<p><h1>Playlists for All!</h1></p>
    {% set cnt = 0 %}
    {% for i in data %}
        {% set cnt = cnt + 1%}

        <p> Playlist {{cnt}}: </p>
        {% for j in i %}
            <li> {{j}} </li>
        {% endfor %}
    {% endfor %}


</body>
</html>